/*INTERNAS*/

main#ser-brain {
    font-size: 2em;
    header.fixed {
        padding: 0 0 0 0 !important;
        height: 103px;
        h1 {
          margin: 0;
        }
        img{
          float: left;
          padding: 18px 0 0 0 !important;
        }
        ul{
          float: right !important;
          margin: 31px 0 0 0 !important;
          li{
            font-size: 19px;
            margin: 0 7px 0 0 !important;
          }
        }
        nav {
          display: none;
        }
    }
    section.banner-serbrain {
      /*background: url('../images/banner-serbrain.jpg') no-repeat top center;*/
      img {
        width: 100%;
      }
      h2 {
        display: none;
        font-size: 100px;
        text-transform: uppercase;
        padding: 125px 933px 337px 42px;
        line-height: 93px;
        margin: 0;
        color: #e9e8db;
      }
      h3 {
        padding: 4.4% 2.9% 1.7%;
        font-size: 155%; 
        text-transform: uppercase;
        text-align: center;
        margin: 0;
        line-height: 115%;
      }
      a {
        margin: 0 auto 2.8%;
        width: 13.2%;
        font-size: 73%;
        border: 3px outset #4f584f;
        text-align: center;
        text-transform: uppercase;
        padding: 0.4% 0;
        color: #f6861f;
        letter-spacing: -0.9px;
      }
      a:hover {
        color: ;
      }
    }
    section.infos-brain {
      
      article {
        padding: 6% 7% 2.3%;
        background: #7b836f;
        p{
          color: #FFF;
          font-family: "Times New Roman";
          font-size: 115%;
          padding: 0 0 43px;
          line-height: 125%;
          letter-spacing: -0.4px;
          word-spacing: 2px;
          strong{
            text-transform: uppercase;
            color: #dfded1;
          }
        }
      }
      h3{
        text-align: center;
        text-transform: uppercase;
        font-size: 254%;
        color: #002f17;
        margin: 6% 0 2%;
      }
      ul {
          text-align: center;
          margin: 26px 0 0;
        li{
          width: calc(100% - 50.3%);
          vertical-align: top;
          p{
            color: #f4f3f2;
            padding: 21% 18% 20%;
            box-sizing: border-box;
            font-size: 143%;
            
          }
        }
        li:first-child {
            background-color: #8b9178;
        }
        li:last-child {
            background: #a5a095;
        }
      }
    }
    nav.client-brain {
      text-transform: uppercase;
      text-align: center;
      width: 100%;
      margin: 85px 0 0;
      a {
        display: inline-block;
        color: #f6861f;
        font-size: 63%;
        margin: 0 0 0 32px;
      }
      a:first-child:before{
        content: "";
        background: url('../images/seta-left.jpg') no-repeat left center;
        width: 56px;
        padding: 0;
        height: 53px;
        display: inline-block;
        float: left;
        vertical-align: middle;
      }
      a:last-child:after{
        content: "";
        background: url('../images/seta-right.jpg') no-repeat right center;
        width: 55px;
        height: 53px;
        display: inline-block;
        vertical-align: middle;
      }
      a:first-child {
        color: #000;
        float: left;
        padding: 0 0 0;
        width: 238px;
        margin: 0;
      }
      a:last-child {
        color: #000;
        float: right;
        margin: 0;
      }
    }

  }